name: Continuous Integration

on:
  push:
    branches:
      - '**'
  workflow_dispatch: # Allow manual triggering

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    uses: ./.github/workflows/lint.yml
    strategy:
      max-parallel: 3
      matrix:
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
    inputs:
      python-version: ${{ matrix.python-version }}

  test:
    uses: ./.github/workflows/test.yml
    strategy:
      matrix:
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
    inputs:
      python-version: ${{ matrix.python-version }}
      api-url: ${{ vars.BR_UTILS_API_URL }}
      api-token: ${{ secrets.BR_UTILS_API_TOKEN }}
