name: Lint Source Code

on:
  workflow_call:
    inputs:
      python-version:
        type: string
        description: 'Python version to use'
        required: false
        default: '3.x'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ inputs.python-version }}

      - run: python -m pip install --upgrade pip
      - run: python require

      - run: python run lint
